{
  "log": {
    "_recordingName": "fetch-tables",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8b5fb417465d56aad41bb37283ea063e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "7db87c5b-fa26-4425-be48-3411fe3fa3eb"
            },
            {
              "name": "roleName",
              "value": "ACCOUNTADMIN"
            }
          ],
          "url": "https://tsullwl-zv30558.snowflakecomputing.com/session/v1/login-request?requestId=7db87c5b-fa26-4425-be48-3411fe3fa3eb&roleName=ACCOUNTADMIN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4014,
            "text": "{\"data\":{\"masterToken\":\"[REDACTED]\",\"token\":\"[REDACTED]\",\"validityInSeconds\":3600,\"masterValidityInSeconds\":14400,\"displayUserName\":\"MICHELLHOWDY\",\"serverVersion\":\"7.33.1\",\"firstLogin\":true,\"remMeToken\":null,\"remMeValidityInSeconds\":0,\"healthCheckInterval\":45,\"newClientForUpgrade\":null,\"sessionId\":1291419356561414,\"parameters\":[{\"name\":\"CLIENT_PREFETCH_THREADS\",\"value\":4},{\"name\":\"TIMESTAMP_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-DD HH24:MI:SS.FF3 TZHTZM\"},{\"name\":\"JS_TREAT_INTEGER_AS_BIGINT\",\"value\":false},{\"name\":\"TIME_OUTPUT_FORMAT\",\"value\":\"HH24:MI:SS\"},{\"name\":\"CLIENT_RESULT_CHUNK_SIZE\",\"value\":160},{\"name\":\"TIMESTAMP_TZ_OUTPUT_FORMAT\",\"value\":\"\"},{\"name\":\"CLIENT_SESSION_KEEP_ALIVE\",\"value\":false},{\"name\":\"CLIENT_METADATA_USE_SESSION_DATABASE\",\"value\":false},{\"name\"[...]
