{
  "log": {
    "_recordingName": "fetch databases",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "7a7e524caf15dfdd4d8d5751bdadfda8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"ACCOUNT_NAME\":\"[REDACTED]\",\"LOGIN_NAME\":\"[REDACTED]\",\"PASSWORD\":\"[REDACTED]\",\"CLIENT_APP_ID\":\"JavaScript\",\"CLIENT_APP_VERSION\":\"1.5.1\",\"CLIENT_ENVIRONMENT\":{\"node\":\"[REDACTED]\",\"v8\":\"[REDACTED]\",\"uv\":\"[REDACTED]\",\"zlib\":\"[REDACTED]\",\"brotli\":\"[REDACTED]\",\"ares\":\"[REDACTED]\",\"modules\":\"[REDACTED]\",\"nghttp2\":\"[REDACTED]\",\"napi\":\"[REDACTED]\",\"llhttp\":\"[REDACTED]\",\"http_parser\":\"[REDACTED]\",\"openssl\":\"[REDACTED]\",\"cldr\":\"[REDACTED]\",\"icu\":\"[REDACTED]\",\"tz\":\"[REDACTED]\",\"unicode\":\"[REDACTED]\",\"OS\":\"[REDACTED]\",\"OS_VERSION\":\"[REDACTED]\",\"OCSP_MODE\":\"[REDACTED]\"},\"SESSION_PARAMETERS\":{}}}"
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "76356c26-428c-4484-8295-230bf1878920"
            },
            {
              "name": "roleName",
              "value": "ACCOUNTADMIN"
            }
          ],
          "url": "https://upa06479.us-east-1.snowflakecomputing.com/session/v1/login-request?requestId=76356c26-428c-4484-8295-230bf1878920&roleName=ACCOUNTADMIN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3630,
            "text": "{\"data\":{\"masterToken\":\"[REDACTED]\",\"token\":\"[REDACTED]\",\"validityInSeconds\":3600,\"masterValidityInSeconds\":14400,\"displayUserName\":\"AUSTINRAUSCH\",\"serverVersion\":\"4.14.3\",\"firstLogin\":false,\"remMeToken\":null,\"remMeValidityInSeconds\":0,\"healthCheckInterval\":45,\"newClientForUpgrade\":null,\"sessionId\":6533860733095954,\"parameters\":[{\"name\":\"CLIENT_HONOR_CLIENT_TZ_FOR_TIMESTAMP_NTZ\",\"value\":true},{\"name\":\"CLIENT_CONSENT_CACHE_ID_TOKEN\",\"value\":false},{\"name\":\"TIMESTAMP_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-DD HH24:MI:SS.FF3 TZHTZM\"},{\"name\":\"CLIENT_PREFETCH_THREADS\",\"value\":4},{\"name\":\"CLIENT_RESULT_CHUNK_SIZE\",\"value\":160},{\"name\":\"TIMESTAMP_NTZ_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-DD HH24:MI:SS.FF3\"},{\"name\":\"CLIENT_RESULT_PREFETCH_THREADS\",\"value\":1},{\"name\":\"DATE_OUTPUT_FORMAT\",\"[...]
