{
  "log": {
    "_recordingName": "fetch databases",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "d658b9697cdeec64fa74af5c8cf166d0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": []
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "b0bc6cd0-0b16-4889-8e04-507cbcb8321b"
            }
          ],
          "url": "https://upa06479.us-east-1.snowflakecomputing.com/session/v1/login-request?requestId=b0bc6cd0-0b16-4889-8e04-507cbcb8321b"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3621,
            "text": "{\"data\":{\"masterToken\":\"[REDACTED]\",\"token\":\"[REDACTED]\",\"validityInSeconds\":3600,\"masterValidityInSeconds\":14400,\"displayUserName\":\"AUSTINRAUSCH\",\"serverVersion\":\"4.13.2\",\"firstLogin\":false,\"remMeToken\":null,\"remMeValidityInSeconds\":0,\"healthCheckInterval\":45,\"newClientForUpgrade\":null,\"sessionId\":99698847793,\"parameters\":[{\"name\":\"CLIENT_SESSION_KEEP_ALIVE_HEARTBEAT_FREQUENCY\",\"value\":3600},{\"name\":\"CLIENT_SESSION_CLONE\",\"value\":false},{\"name\":\"JS_TREAT_INTEGER_AS_BIGINT\",\"value\":false},{\"name\":\"TIMESTAMP_TZ_OUTPUT_FORMAT\",\"value\":\"\"},{\"name\":\"CLIENT_METADATA_REQUEST_USE_CONNECTION_CTX\",\"value\":false},{\"name\":\"CLIENT_DISABLE_INCIDENTS\",\"value\":true},{\"name\":\"CLIENT_TIMESTAMP_TYPE_MAPPING\",\"value\":\"TIMESTAMP_LTZ\"},{\"name\":\"CLIENT_SESSION_KEEP_ALIVE\",\"value\":fals[...]
