{
  "log": {
    "_recordingName": "fetch warehouses",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "40b35cf142eaa3e0ea915f672b001368",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"ACCOUNT_NAME\":\"[REDACTED]\",\"LOGIN_NAME\":\"[REDACTED]\",\"PASSWORD\":\"[REDACTED]\",\"CLIENT_APP_ID\":\"JavaScript\",\"CLIENT_APP_VERSION\":\"1.5.1\",\"CLIENT_ENVIRONMENT\":{\"node\":\"12.14.0\",\"v8\":\"7.7.299.13-node.16\",\"uv\":\"1.33.1\",\"zlib\":\"1.2.11\",\"brotli\":\"1.0.7\",\"ares\":\"1.15.0\",\"modules\":\"72\",\"nghttp2\":\"1.39.2\",\"napi\":\"5\",\"llhttp\":\"1.1.4\",\"http_parser\":\"2.8.0\",\"openssl\":\"1.1.1d\",\"cldr\":\"35.1\",\"icu\":\"64.2\",\"tz\":\"2019c\",\"unicode\":\"12.1\",\"OS\":\"darwin\",\"OS_VERSION\":\"17.7.0\",\"OCSP_MODE\":\"FAIL_OPEN\"},\"SESSION_PARAMETERS\":{}}}"
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "aa80f5a4-3cc0-402f-8705-82fbb0b0620f"
            },
            {
              "name": "roleName",
              "value": "ACCOUNTADMIN"
            }
          ],
          "url": "https://upa06479.us-east-1.snowflakecomputing.com/session/v1/login-request?requestId=aa80f5a4-3cc0-402f-8705-82fbb0b0620f&roleName=ACCOUNTADMIN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3630,
            "text": "{\"data\":{\"masterToken\":\"[REDACTED]\",\"token\":\"[REDACTED]\",\"validityInSeconds\":3600,\"masterValidityInSeconds\":14400,\"displayUserName\":\"AUSTINRAUSCH\",\"serverVersion\":\"4.14.3\",\"firstLogin\":false,\"remMeToken\":null,\"remMeValidityInSeconds\":0,\"healthCheckInterval\":45,\"newClientForUpgrade\":null,\"sessionId\":6533860733108230,\"parameters\":[{\"name\":\"CLIENT_HONOR_CLIENT_TZ_FOR_TIMESTAMP_NTZ\",\"value\":true},{\"name\":\"CLIENT_CONSENT_CACHE_ID_TOKEN\",\"value\":false},{\"name\":\"TIMESTAMP_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-DD HH24:MI:SS.FF3 TZHTZM\"},{\"name\":\"CLIENT_PREFETCH_THREADS\",\"value\":4},{\"name\":\"CLIENT_RESULT_CHUNK_SIZE\",\"value\":160},{\"name\":\"TIMESTAMP_NTZ_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-DD HH24:MI:SS.FF3\"},{\"name\":\"CLIENT_RESULT_PREFETCH_THREADS\",\"value\":1},{\"name\":\"DATE_OUTPUT_FORMAT\",\"[...]
