{
  "log": {
    "_recordingName": "fetch warehouses",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c495f95825e36e23c8f6dd770f487db5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": []
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "0cb76fa5-0c67-4723-9477-605e468ce056"
            },
            {
              "name": "roleName",
              "value": "ACCOUNTADMIN"
            }
          ],
          "url": "https://upa06479.us-east-1.snowflakecomputing.com/session/v1/login-request?requestId=0cb76fa5-0c67-4723-9477-605e468ce056&roleName=ACCOUNTADMIN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3630,
            "text": "{\"data\":{\"masterToken\":\"[REDACTED]\",\"token\":\"[REDACTED]\",\"validityInSeconds\":3600,\"masterValidityInSeconds\":14400,\"displayUserName\":\"AUSTINRAUSCH\",\"serverVersion\":\"4.12.6\",\"firstLogin\":false,\"remMeToken\":null,\"remMeValidityInSeconds\":0,\"healthCheckInterval\":45,\"newClientForUpgrade\":null,\"sessionId\":6533860733050886,\"parameters\":[{\"name\":\"CLIENT_ENABLE_LOG_INFO_STATEMENT_PARAMETERS\",\"value\":false},{\"name\":\"BINARY_OUTPUT_FORMAT\",\"value\":\"HEX\"},{\"name\":\"CLIENT_METADATA_REQUEST_USE_CONNECTION_CTX\",\"value\":false},{\"name\":\"CLIENT_SESSION_CLONE\",\"value\":false},{\"name\":\"AUTOCOMMIT\",\"value\":true},{\"name\":\"TIMESTAMP_LTZ_OUTPUT_FORMAT\",\"value\":\"\"},{\"name\":\"TIMESTAMP_NTZ_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-DD HH24:MI:SS.FF3\"},{\"name\":\"CLIENT_CONSENT_CACHE_ID_TOKEN\",\"value\":false},{[...]
