{
  "log": {
    "_recordingName": "fetch users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "12847955dd6e4c0478ad20a669885299",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"ACCOUNT_NAME\":\"[REDACTED]\",\"LOGIN_NAME\":\"[REDACTED]\",\"PASSWORD\":\"[REDACTED]\",\"CLIENT_APP_ID\":\"JavaScript\",\"CLIENT_APP_VERSION\":\"1.5.1\",\"CLIENT_ENVIRONMENT\":{\"node\":\"[REDACTED]\",\"v8\":\"[REDACTED]\",\"uv\":\"[REDACTED]\",\"zlib\":\"[REDACTED]\",\"brotli\":\"[REDACTED]\",\"ares\":\"[REDACTED]\",\"modules\":\"[REDACTED]\",\"nghttp2\":\"[REDACTED]\",\"napi\":\"[REDACTED]\",\"llhttp\":\"[REDACTED]\",\"http_parser\":\"[REDACTED]\",\"openssl\":\"[REDACTED]\",\"cldr\":\"[REDACTED]\",\"icu\":\"[REDACTED]\",\"tz\":\"[REDACTED]\",\"unicode\":\"[REDACTED]\",\"OS\":\"[REDACTED]\",\"OS_VERSION\":\"[REDACTED]\",\"OCSP_MODE\":\"[REDACTED]\"},\"SESSION_PARAMETERS\":{}}}"
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "79dbaea7-dac8-4ce3-9f8e-7fca8825aa4a"
            },
            {
              "name": "roleName",
              "value": "ACCOUNTADMIN"
            }
          ],
          "url": "https://upa06479.us-east-1.snowflakecomputing.com/session/v1/login-request?requestId=79dbaea7-dac8-4ce3-9f8e-7fca8825aa4a&roleName=ACCOUNTADMIN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3630,
            "text": "{\"data\":{\"masterToken\":\"[REDACTED]\",\"token\":\"[REDACTED]\",\"validityInSeconds\":3600,\"masterValidityInSeconds\":14400,\"displayUserName\":\"AUSTINRAUSCH\",\"serverVersion\":\"4.14.4\",\"firstLogin\":false,\"remMeToken\":null,\"remMeValidityInSeconds\":0,\"healthCheckInterval\":45,\"newClientForUpgrade\":null,\"sessionId\":\"[REDACTED]\",\"parameters\":[{\"name\":\"TIMESTAMP_LTZ_OUTPUT_FORMAT\",\"value\":\"\"},{\"name\":\"CLIENT_HONOR_CLIENT_TZ_FOR_TIMESTAMP_NTZ\",\"value\":true},{\"name\":\"JS_DRIVER_DISABLE_OCSP_FOR_NON_SF_ENDPOINTS\",\"value\":false},{\"name\":\"CLIENT_DISABLE_INCIDENTS\",\"value\":true},{\"name\":\"CLIENT_FORCE_PROTECT_ID_TOKEN\",\"value\":true},{\"name\":\"CLIENT_METADATA_USE_SESSION_DATABASE\",\"value\":false},{\"name\":\"JS_TREAT_INTEGER_AS_BIGINT\",\"value\":false},{\"name\":\"DATE_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-D[...]
