{
  "log": {
    "_recordingName": "fetch-schemas",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a896c13676c04d6c5cad7ff8ec8cef35",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "453c72c0-1054-4518-bbdf-01f6623b424a"
            }
          ],
          "url": "https://tsullwl-zv30558.snowflakecomputing.com/queries/v1/query-request?requestId=453c72c0-1054-4518-bbdf-01f6623b424a"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5219,
            "text": "{\n  \"data\" : {\n    \"parameters\" : [{\"name\":\"CLIENT_PREFETCH_THREADS\",\"value\":4},{\"name\":\"TIMESTAMP_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-DD HH24:MI:SS.FF3 TZHTZM\"},{\"name\":\"JS_TREAT_INTEGER_AS_BIGINT\",\"value\":false},{\"name\":\"TIME_OUTPUT_FORMAT\",\"value\":\"HH24:MI:SS\"},{\"name\":\"CLIENT_RESULT_CHUNK_SIZE\",\"value\":160},{\"name\":\"TIMESTAMP_TZ_OUTPUT_FORMAT\",\"value\":\"\"},{\"name\":\"CLIENT_SESSION_KEEP_ALIVE\",\"value\":false},{\"name\":\"QUERY_CONTEXT_CACHE_SIZE\",\"value\":5},{\"name\":\"CLIENT_METAD[...]
