{
  "log": {
    "_recordingName": "fetch-schemas",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cc0e16828fa312ae84a98c6fe7d95ef6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "1033ac30-44a0-4cc6-a7b7-aa96da5a21bd"
            },
            {
              "name": "roleName",
              "value": "ACCOUNTADMIN"
            }
          ],
          "url": "https://xv08429.europe-west4.gcp.snowflakecomputing.com/session/v1/login-request?requestId=1033ac30-44a0-4cc6-a7b7-aa96da5a21bd&roleName=ACCOUNTADMIN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4011,
            "text": "{\"data\":{\"masterToken\":\"[REDACTED]\",\"token\":\"[REDACTED]\",\"validityInSeconds\":3600,\"masterValidityInSeconds\":14400,\"displayUserName\":\"PGILAGA\",\"serverVersion\":\"7.5.1\",\"firstLogin\":true,\"remMeToken\":null,\"remMeValidityInSeconds\":0,\"healthCheckInterval\":45,\"newClientForUpgrade\":null,\"sessionId\":242446608957622,\"parameters\":[{\"name\":\"CLIENT_PREFETCH_THREADS\",\"value\":4},{\"name\":\"TIMESTAMP_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-DD HH24:MI:SS.FF3 TZHTZM\"},{\"name\":\"JS_TREAT_INTEGER_AS_BIGINT\",\"value\":false},{\"name\":\"TIME_OUTPUT_FORMAT\",\"value\":\"HH24:MI:SS\"},{\"name\":\"CLIENT_RESULT_CHUNK_SIZE\",\"value\":160},{\"name\":\"TIMESTAMP_TZ_OUTPUT_FORMAT\",\"value\":\"\"},{\"name\":\"CLIENT_SESSION_KEEP_ALIVE\",\"value\":false},{\"name\":\"CLIENT_METADATA_USE_SESSION_DATABASE\",\"value\":false},{\"name\"[...]
