{
  "log": {
    "_recordingName": "fetch-users",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "60e4a9e27ce24015627cf03ae85f3595",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "43d2e877-97e6-4cc5-b827-c9d4c5ce32b6"
            },
            {
              "name": "roleName",
              "value": "ACCOUNTADMIN"
            }
          ],
          "url": "https://tsullwl-zv30558.snowflakecomputing.com/session/v1/login-request?requestId=43d2e877-97e6-4cc5-b827-c9d4c5ce32b6&roleName=ACCOUNTADMIN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3989,
            "text": "{\"data\":{\"masterToken\":\"[REDACTED]\",\"token\":\"[REDACTED]\",\"validityInSeconds\":3600,\"masterValidityInSeconds\":14400,\"displayUserName\":\"MICHELLHOWDY\",\"serverVersion\":\"7.33.1\",\"firstLogin\":true,\"remMeToken\":null,\"remMeValidityInSeconds\":0,\"healthCheckInterval\":45,\"newClientForUpgrade\":null,\"sessionId\":19705557217,\"parameters\":[{\"name\":\"CLIENT_PREFETCH_THREADS\",\"value\":4},{\"name\":\"TIMESTAMP_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-DD HH24:MI:SS.FF3 TZHTZM\"},{\"name\":\"JS_TREAT_INTEGER_AS_BIGINT\",\"value\":false},{\"name\":\"TIME_OUTPUT_FORMAT\",\"value\":\"HH24:MI:SS\"},{\"name\":\"CLIENT_RESULT_CHUNK_SIZE\",\"value\":160},{\"name\":\"TIMESTAMP_TZ_OUTPUT_FORMAT\",\"value\":\"\"},{\"name\":\"CLIENT_SESSION_KEEP_ALIVE\",\"value\":false},{\"name\":\"QUERY_CONTEXT_CACHE_SIZE\",\"value\":5},{\"name\":\"CLIENT_METADA[...]
