{
  "log": {
    "_recordingName": "fetch roles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "c495f95825e36e23c8f6dd770f487db5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"data\":{\"ACCOUNT_NAME\":\"upa06479\",\"LOGIN_NAME\":\"austinrausch\",\"PASSWORD\":\"8VF3#ulwE8iT\",\"CLIENT_APP_ID\":\"JavaScript\",\"CLIENT_APP_VERSION\":\"1.5.1\",\"CLIENT_ENVIRONMENT\":{\"node\":\"12.14.0\",\"v8\":\"7.7.299.13-node.16\",\"uv\":\"1.33.1\",\"zlib\":\"1.2.11\",\"brotli\":\"1.0.7\",\"ares\":\"1.15.0\",\"modules\":\"72\",\"nghttp2\":\"1.39.2\",\"napi\":\"5\",\"llhttp\":\"1.1.4\",\"http_parser\":\"2.8.0\",\"openssl\":\"1.1.1d\",\"cldr\":\"35.1\",\"icu\":\"64.2\",\"tz\":\"2019c\",\"unicode\":\"12.1\",\"OS\":\"darwin\",\"OS_VERSION\":\"17.7.0\",\"OCSP_MODE\":\"FAIL_OPEN\"},\"SESSION_PARAMETERS\":{}}}"
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "bd0d072b-928e-46d8-8249-b50dc60f1237"
            },
            {
              "name": "roleName",
              "value": "ACCOUNTADMIN"
            }
          ],
          "url": "https://upa06479.us-east-1.snowflakecomputing.com/session/v1/login-request?requestId=bd0d072b-928e-46d8-8249-b50dc60f1237&roleName=ACCOUNTADMIN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 3630,
            "text": "{\"data\":{\"masterToken\":\"[REDACTED]\",\"token\":\"[REDACTED]\",\"validityInSeconds\":3600,\"masterValidityInSeconds\":14400,\"displayUserName\":\"AUSTINRAUSCH\",\"serverVersion\":\"4.13.4\",\"firstLogin\":false,\"remMeToken\":null,\"remMeValidityInSeconds\":0,\"healthCheckInterval\":45,\"newClientForUpgrade\":null,\"sessionId\":6533860733071438,\"parameters\":[{\"name\":\"CLIENT_SESSION_KEEP_ALIVE_HEARTBEAT_FREQUENCY\",\"value\":3600},{\"name\":\"CLIENT_SESSION_CLONE\",\"value\":false},{\"name\":\"JS_TREAT_INTEGER_AS_BIGINT\",\"value\":false},{\"name\":\"TIMESTAMP_TZ_OUTPUT_FORMAT\",\"value\":\"\"},{\"name\":\"CLIENT_METADATA_REQUEST_USE_CONNECTION_CTX\",\"value\":false},{\"name\":\"CLIENT_DISABLE_INCIDENTS\",\"value\":true},{\"name\":\"CLIENT_TIMESTAMP_TYPE_MAPPING\",\"value\":\"TIMESTAMP_LTZ\"},{\"name\":\"CLIENT_SESSION_KEEP_ALIVE\",\"value\":fals[...]
