{
  "log": {
    "_recordingName": "fetch-roles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f626b32dfb2464d8d944d320e4772776",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [
            {
              "name": "requestId",
              "value": "f81a9d74-14e7-42a7-a17d-44695b74c8c9"
            },
            {
              "name": "roleName",
              "value": "ACCOUNTADMIN"
            }
          ],
          "url": "https://tsullwl-zv30558.snowflakecomputing.com/session/v1/login-request?requestId=f81a9d74-14e7-42a7-a17d-44695b74c8c9&roleName=ACCOUNTADMIN"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4014,
            "text": "{\"data\":{\"masterToken\":\"[REDACTED]\",\"token\":\"[REDACTED]\",\"validityInSeconds\":3600,\"masterValidityInSeconds\":14400,\"displayUserName\":\"MICHELLHOWDY\",\"serverVersion\":\"7.33.1\",\"firstLogin\":true,\"remMeToken\":null,\"remMeValidityInSeconds\":0,\"healthCheckInterval\":45,\"newClientForUpgrade\":null,\"sessionId\":1291419356565518,\"parameters\":[{\"name\":\"TIMESTAMP_OUTPUT_FORMAT\",\"value\":\"YYYY-MM-DD HH24:MI:SS.FF3 TZHTZM\"},{\"name\":\"CLIENT_PREFETCH_THREADS\",\"value\":4},{\"name\":\"JS_TREAT_INTEGER_AS_BIGINT\",\"value\":false},{\"name\":\"TIME_OUTPUT_FORMAT\",\"value\":\"HH24:MI:SS\"},{\"name\":\"TIMESTAMP_TZ_OUTPUT_FORMAT\",\"value\":\"\"},{\"name\":\"CLIENT_RESULT_CHUNK_SIZE\",\"value\":160},{\"name\":\"CLIENT_SESSION_KEEP_ALIVE\",\"value\":false},{\"name\":\"CLIENT_OUT_OF_BAND_TELEMETRY_ENABLED\",\"value\":false},{\"name\"[...]
